doctype html
html(lang="fr")
  head
    title To-Do
    meta(charset="UTF-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="apple-touch-icon" href="img/favicon-144.png")

  body
    #root
    script(src="app.js")
